---
title: 'Construction Detail Verification'
date: 2023-03-28T13:19:43+02:00
lastmod: 2024-04-01T13:19:43+02:00
canonicalURL: "https://www.groundpenetratingradar.co.uk/news/construction-detail-verification/"
author: Rom Gostomski
summary: 'Using GPR to verify construction detail and compliance with current legislation and standards. Suitable for floor slabs, concrete and masonry walls...'
ShowToc: true
tocopen: true

tags: ["construction detail", "slabs", "rebar", "embedded metal", "voids", "chimney flue", "thickness", "foundations"]
categories: ["blog", "GPR survey"]

cover:
    image: images/news/verification-construction-cover.jpg
    caption: ''
    alt: 'CAD drawings - GPR can be used to verify construction detail is as per the drawings '

draft: false
---
> Verifying construction details of structures is often necessary. This could be to ensure compliance with current legislation and standards, proposed modifications, a change of use, or simply as part of a maintenance regime.

The following are all common scenarios:

- There are no as-built documents for an existing structure. Drawings may have been misplaced or not handed on with a change of ownership.
- The accuracy of as-built construction drawings is unknown.
- Drawings are marked as “Verify-in Field” (VIF).
- Older, historic buildings were often built by craftsmen using traditional construction methods. They used their knowledge to overcome construction difficulties. No records for these buildings are available.

Dimensional verification of drawings is fairly straightforward. For example, a topographic survey or 3D laser scanning will identify dimensional mistakes and variabilities.

But what about the hidden construction details? How can you determine that without using destructive techniques?

## Using GPR to verify construction detail

Ground Penetrating Radar (GPR) can be used to determine or verify construction details.

GPR detects changes in the sub-surface; therefore, it is not limited to detecting only metallic objects. It offers a rapid means of obtaining subsurface information from a variety of materials used in the construction industry. Examples include concrete, brick, masonry, wood, asphalt and soil. Furthermore, GPR is a non-destructive (NDT) survey method; it makes no noise and emits no odour. It can be used on construction sites or in occupied buildings. Because it is non-intrusive, it is ideal for historic or listed buildings.

{{< assetimage "images/news/verify_platform_construction.jpg"
"ImageUsing GPR to verify platform reinforcement detailCaption" 
"Surveyor scanning platform with GPR to verify reinforcement detail">}}

The following are just some of the ways GPR can help determine or verify construction detail:

### Concrete floor slab surveys

GPR can determine general slab construction details, such as slab thickness, reinforcement distribution, and adequate mesh overlap. It can also detect variations in construction detail and determine the position of ground beams and pile caps.

Find out more about concrete [floor slab surveys](/surveys/concrete-floor-slab-surveys/).

{{< assetimage "images/news/verify-construction-radargram.jpg"
"GPR radargram showing variations in slab thickness and reinforcement" 
"GPR radargram showing variations in slab thickness and reinforcement">}}

### Locating Tendon Ducts

GPR has a greater penetration depth and better resolution than many other techniques. Therefore, it is effective in locating tendons and confirming they are positioned as per drawings.

Find out more about [locating tendon ducts](/surveys/locate-tendons-in-concrete/).

### Rebar mapping

GPR offers excellent rebar mapping and concrete imaging to depths of 400 mm (depends on the density of reinforcing steel). It is suitable for scanning smaller areas, such as beams or columns, or large areas, such as floor slabs.

Learn more about [rebar mapping](/surveys/rebar-mapping/), and rebar location, and [site mark-up surveys](/surveys/rebar-location/).

### Locating embedded metal in masonry

Buildings are often strengthened using embedded steel. GPR can confirm the presence of structural steel members and determine their location and orientation. It can also detect metal dowels, pins and cramps.

{{< assetimage "images/news/verify-embedded-metal.jpg"
"Location of embedded metal in a stone facade" 
"GPR surveyor taking notes of detected embedded metal in a stone facade">}}

Find out more about [locating embedded metal in masonry](/surveys/locate-metal-in-masonry/).

### Void location

GPR can locate voids beneath slabs, basements and pavements. It can also identify construction elements which incorporate voids such as hollow pot slab construction and hollow-core precast units.

More about [void location](/surveys/void-location/) surveys.

### Chimney Flues

I have never seen as-built drawings showing chimney flue locations. However, architects and engineers often need this information. Are chimney flues present? In which walls? Where do they go?

{{< assetimage "images/news/verify-chimney-flues.jpg"
"GPR is very effective in detecting chimney flues and ducts in walls" 
"CAD extract showing flue location platted on an elevation drawing">}}

Find out more about [chimney flue location](/surveys/chimney-flue-location/).

### Construction thickness

GPR detects layer interfaces in construction. It can determine the thickness of slabs, screed, asphalt, brick walls, retaining walls, etc. Variations in thickness and construction can also be detected and mapped.

Find out more about wall and [slab thickness measurement surveys](/surveys/slab-thickness/).

### Foundations

GPR can determine the plan view geometry of foundations such as pad foundations and pile caps.

{{< assetimage "images/news/verify-pad-foundations-radargram.jpg"
"GPR radargram showing detected pad foundations" 
"GPR radargram showing detected pad foundations">}}

Find out more about using GPR to locate and investigate [foundations](/case-studies/pad-foundation-location/).

The above list includes some of the more popular examples of using GPR to verify construction detail. It is by no means exhaustive.

## Conclusions

In the hands of an experienced surveyor, GPR is an efficient and cost-effective method for determining and verifying construction details. It detects metallic and non-metallic objects and changes in the subsurface, as well as depths and thicknesses.

For more information about our GPR surveys, see [Ground Penetrating Radar Surveys](/surveys/).

Further information
We would love to hear from you. For further information please contact us to discuss your requirements. Above all, find out more about how GPR could help you. If required, we will happily provide a no-obligation quotation.




